.grid {
  position: relative;
}
.item {
  display: block;
  position: absolute;
  width: 32.33%;
  margin:0.5%;
  z-index: 1;
}
.u_files {
	width:100%;
	height: 340px;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.delete_btn{
	position:absolute;
	right:2%;
	bottom:1%;
	display:none;
}
.zoom_btn{
	position:absolute;
	right:12%;
	bottom:1%;
	display:none;
}
.zoom_btn i{
	color:yellow;
	font-size:40px;
}
.delete_icon{
	color:#FB3A2B;
	font-size:40px;
}
.item{
	transition:.3s;
}
.item:hover {  
    transform:scale(1.10);
	box-shadow: 0 0 10px #999;
	opacity:.9;
}
.item:hover .delete_btn{
    display:block;
}
.item:hover .zoom_btn{  
    display:block;
}